<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="Version 3 from riq's personal website, built with VueJs">
  <meta name="Mikail Thoriq &#128075;" content="main production website"/>
  <meta property="og:title" content="Mikail Thoriq &#128075;"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="https://server3.riqq-cdn.cf/0:/Pics/prevmyid-v3.png">
  <meta property="og:description" content="Version 3 from riq's personal website, built with VueJs">
  <link rel="canonical" href="https://v3.mikailthoriq.my.id/" />
  <link rel="icon" href="https://bucket2.riqcdn.eu.org/file/riqcdn2/riqlogo_200x200.png">
  <title>Mikail Thoriq &#128075;</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Oswald:wght@700&display=swap"
    rel="stylesheet">

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to open this website. :) </strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected Here -->
</body>

</html>