* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

:root {
  --main: #fafafa;
  --second: #272727;
}
#app {
  --main-color: var(--main);
  --second-color: var(--second);
  /* filter: invert(1) hue-rotate(180deg); */
}
body {
  overflow: hidden;
}

.cursor {
  height: 25px;
  width: 25px;
  /* border: 1px solid var(--second); */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 9999999;
  pointer-events: none;
  transform-origin: center;
  transform-box: fill;
  background: var(--main);
  mix-blend-mode: difference;
  transition: height 200ms, width 200ms;
  /* transition: 10ms ease; */
}

.cursor.hover {
  height: 40px;
  width: 40px;
}

.welcome {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #272727;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: opacity 500ms ease; */
  pointer-events: none;
  opacity: 1;
}

.welcome.show {
  opacity: 0;
  transition: opacity 1s ease;
}

.welcome svg {
  width: 60%;
  animation: fill 200ms ease forwards 3.5s;
}

.navbar:hover .cursor {
  border: 1px solid var(--main);
}

nav .direct:hover .cursor {
  transform: scale(1.5);
}

.cursor.click {
  animation: expand 150ms ease-in-out infinite;
  /* transform-origin: top center; */
}

.top {
  position: fixed;
  top: 20px;
  left: 80px;
  z-index: 8;
  font-size: 24px;
  color: var(--second-color);
}

.bottom {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  z-index: 8;
  font-size: 24px;
  color: var(--second-color);
}
.contact-btn:hover .cursor {
  border: 1px solid red;
}

.fa-slash {
  transform: rotateZ(70deg);
  margin-right: -10px;
}

.view {
  --main-color: var(--main);
  --second-color: var(--second);
  width: 100%;
  background-color: var(--main);
  /* margin: 0 0 0 0; */
  padding-left: 50px;
  /* height: calc(100vh - 80px); */
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  overflow: auto;
}

#app {
  display: flex;
  background-color: var(--main-color);
  justify-content: space-between;
  overflow-x: hidden;
  /* border: 1px solid red; */
}

.fade-enter {
  opacity: 1;
}

.fade-enter-active {
  /* transition: transform 500ms; */
  /* animation: slide-in 500ms linear;
  animation-delay: 500ms; */
  opacity: 0.3;
}

.fade-leave-active {
  opacity: 0;
  transition: all 600ms;
  /* transform: scale(1); */
  /* animation: slide 500ms linear; */
  /* animation-delay: 200ms; */
}

.trans-back {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  z-index: 99;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  transform: translateX(100%);
  transition: transform 800ms ease;
}
.trans-back.show {
  transform: translateX(0);
}

.trans-back img {
  height: 40px;
  text-align: center;
}

.trans-back svg {
  fill: red;
}

.trans-back p {
  margin: 0.5rem 0;
}

.trans-back .loadbar {
  width: 250px;
}
.trans-back .loadbar .progress {
  width: 0;
  height: 4px;
  background-color: var(--second-color);
  border-radius: 10px;
}
.trans-back.show .loadbar .progress {
  width: 100%;
  transition: width 700ms ease;
  transition-delay: 800ms;
}

#logo path:nth-child(1) {
  stroke-dasharray: 1128px;
  stroke-dashoffset: 1128px;
  animation: line-dash 2s ease forwards;
}

#logo path:nth-child(2) {
  stroke-dasharray: 664px;
  stroke-dashoffset: 664px;
  animation: line-dash 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 418px;
  stroke-dashoffset: 418px;
  animation: line-dash 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 718px;
  stroke-dashoffset: 718px;
  animation: line-dash 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 784px;
  stroke-dashoffset: 784px;
  animation: line-dash 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 1084px;
  stroke-dashoffset: 1084px;
  animation: line-dash 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 664px;
  stroke-dashoffset: 664px;
  animation: line-dash 2s ease forwards 1.8s;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--second-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

@keyframes line-dash {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fafafa;
  }
}

@keyframes slide {
  to {
    transform: translateX(-100%) scale(0.7);
  }
}

@keyframes slide-in {
  to {
    transform: scale(1);
  }
}

@keyframes expand {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }

  50% {
    transform: scale(2) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1024px) {
  .view {
    margin: 0px 0 0 0px;
    /* padding: 60px 0; */
    padding-left: 0;
    height: calc(100vh - 80px);
  }
  .symbols {
    display: none;
  }

  #app {
    display: block;
  }
  .cursor {
    display: none;
  }
}
