* {
  font-family: "Montserrat", sans-serif;
}
.space {
  padding: 5px;
}
.skills {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  padding: 0 3rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
  color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  width: 40%;
}
.text p {
  font-size: 1.2vw;
  margin: 0.5rem 0;
}

.text p a {
  display: inline-flex;
  position: relative;
  /* overflow: hidden; */
  /* border: 1px solid red; */
}

.text p a::before {
  color: var(--main-color);
  text-align: center;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  position: absolute;
  transform: translateX(-100%);
  pointer-events: none;
  opacity: 0;
  z-index: 0;
  background: var(--second-color);
  transition: transform 250ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-decoration: underline; */
}

.text p .linkedln::before {
  content: "Linkedln";
}
.text p .contact::before {
  content: "contact me.";
}

.text p .linkedln:hover:before {
  opacity: 1;
  transform: translateX(0);
}
.text p .contact:hover:before {
  opacity: 1;
  transform: translateX(0);
}

span.hov {
  width: auto;
  transition: all 0.4s ease;
  display: inline-block;
}

span.hov:hover {
  transform: scaleY(1.5);
  /* color: #6c63ff; */
}

.illus {
  width: 40%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .illus h1 {
  font-family: "Montserrat", sans-serif;
} */

.illus .front__end,
.illus .back__end {
  /* height: 35%; */
  min-width: 30%;
  border: 4px solid var(--second-color);
  border-top: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  padding: 1.5px 3px;
  justify-content: flex-end;
  border-radius: 5px 5px 10px 10px;
}

.illus .front__end div,
.illus .back__end div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  cursor: pointer;
  background: var(--second-color);
  color: var(--main-color);
  margin: 1.5px 0;
  font-family: "Montserrat", sans-serif;
  transform: translateY(-1500%) scale(1);
  opacity: 0;
  transform-origin: center center;
  /* position: relative;  */
  transform-box: fill;
  animation-name: stackY;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.illus .front__end div:nth-child(1) {
  animation-delay: 2.5s;
}
.illus .front__end div:nth-child(2) {
  animation-delay: 2s;
}

.illus .front__end div:nth-child(3) {
  animation-delay: 1.5s;
}
.illus .front__end div:nth-child(4) {
  animation-delay: 1s;
}
.illus .front__end div:nth-child(5) {
  animation-delay: 0.5s;
}

.illus .front__end div:nth-child(6) {
  animation-delay: 0ms;
  border-radius: 0 0 5px 5px;
}

.illus .back__end div:nth-child(1) {
  animation-delay: 1s;
}
.illus .back__end div:nth-child(2) {
  animation-delay: 0.5s;
}

.illus .back__end div:nth-child(3) {
  animation-delay: 0ms;
  border-radius: 0 0 5px 5px;
}

.illus .front__end::after,
.illus .back__end::after {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  /* border: 1px solid red; */
  font-family: "Montserrat", sans-serif;
}

.illus .front__end::after {
  content: "Front End";
}

.illus .back__end::after {
  content: "Back End";
}

.skills-info {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* padding: 0; */
  background: var(--main-color);
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 1s ease;
  z-index: 10;

  /* border: 1px solid red; */
}

.skills-info.show {
  transform: translateX(0);
}

.skills-info .logo {
  height: 40px;
  width: auto;
  margin-bottom: 1.5rem;
}

.skills-info .logo img {
  height: 100%;
  width: auto;
}

.skills-info .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
  /* border: 1px solid red; */
  text-align: center;
  background: inherit;
  color: inherit;
}

.skills-info .card .close {
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 500ms linear;
}

.skills-info .card .close:hover {
  transform: rotate(180deg) scale(1.5);
}

.skills-info .card .logo {
  font-size: 2rem;
}

@keyframes warn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes stackY {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-750%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes stackX {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateX(500%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .text {
    width: 100%;
    font-size: 1.2rem;
  }
  .text p {
    font-size: 1rem;
  }

  .illus .front__end > div span,
  .illus .back__end > div span {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .text {
    width: 100%;
    /* height: auto; */
  }
  .skills {
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
  }
  .illus {
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    /* display: none; */
  }
  .illus .front__end,
  .illus .back__end {
    width: 100%;
    flex-direction: row-reverse;
    margin: 2rem 0 0.2rem 0;
    border-top: 4px solid var(--second-color);
    border: none;
    /* margin: 0.5rem; */
  }
  .illus .front__end::after,
  .illus .back__end::after {
    top: -20px;
    text-align: left;
  }
  .illus .front__end > div,
  .illus .back__end > div {
    transform: translateY(0) translateX(1000%);
    animation-name: stackX;
    margin: 0 5px 5px 0;
    width: 3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
  }
  .illus .front__end > div p,
  .illus .back__end > div p {
    display: none;
  }
  .illus .front__end > div span,
  .illus .back__end > div span {
    display: inline;
  }
  .illus .front__end div:nth-child(5) {
    animation-delay: 0ms;
    border-radius: 0 0 0px 0px;
  }
  .illus .back__end div:nth-child(3) {
    border-radius: 0;
  }

  .skills-info {
    /* margin-top: 40px; */
    bottom: 0;
  }
  .skills-info .card {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .skills {
    display: flex;
    justify-content: center;
  }
  .text {
    /* margin-left: 0px; */
    font-size: 1rem;
  }
  .skills-info .card {
    /* width: 80%; */
  }
}
