* {
  font-family: "Montserrat", sans-serif;
}
.work-page {
  background-color: var(--main-color);
}

.work-page .title-page {
  margin-top: 5rem;
  text-align: center;
  font-size: 3rem;
}

.work-list {
  margin: 5rem auto 0 auto;
  width: 90%;
}

.work-list .work {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}

.work .information {
  width: 50%;
  max-width: 500px;
}

.information .work-title {
  margin-top: 2rem;
}

.information .description {
  margin-top: 2rem;
}

.information .tools {
  margin-top: 2rem;
  font-weight: 600;
}

.tools span {
  font-weight: 400;
}

.tools .design {
  margin-top: 0.5rem;
}

.information .links {
  margin-top: 3rem;
}

.links a {
  background-color: var(--second-color);
  padding: 0.5rem 1rem;
  color: var(--main-color);
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
}
.links a.disabled {
  pointer-events: none;
  /* background-color: gray; */
  opacity: 0.3;
}

.links a:hover {
  background: none;
  color: var(--second-color);
  border: 2px solid var(--second-color);
}

.work .img {
  max-height: 300px;
  max-width: 500px;
  box-shadow: 0 6.9px 5.3px rgba(0, 0, 0, 0.02),
    0 23.2px 17.9px rgba(0, 0, 0, 0.03), 0 104px 80px rgba(0, 0, 0, 0.05);

  overflow: hidden;
  border-radius: 10px;
}

.img img {
  height: 100%;
  width: 100%;
  transition: transform 250ms ease;
}

.mobile-img {
  height: 100%;
  width: 100%;
  display: none;
}

.img:hover img {
  transform: scale(1.2);
}

.img:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

span.hov {
  width: auto;
  transition: all 0.4s ease;
  display: inline-block;
}

span.hov:hover {
  transform: rotateZ(-10deg) scale(1.2);
}
.space {
  padding: 5px;
}

.detail-enter-active,
.detail-leave-active {
  transition: transform 0.5s;
}
.detail-enter, .detail-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
}

@media only screen and (max-width: 1024px) {
  .work-page .title-page {
    font-size: 2rem;
  }
  .work-list {
    margin-top: 0;
    width: 80%;
  }
  .work-list .work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .work .information {
    width: 100%;
  }

  .work .img {
    display: none;
  }

  .mobile-img {
    display: block;
    margin-top: 1rem;
  }

  .work .work-title {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}
